# Ignore node_modules in all subfolders
**/node_modules/

# Ignore .env files in all subfolders
**/.env
**/.env.local
**/.env.production

# Build outputs
**/dist/
**/build/

# System / Log files
npm-debug.log*
yarn-debug.log*
.DS_Store